# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\work-ext-project\extjs-sencha\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
